<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <figure>
    <a href="/">
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </a>
  </figure>
  <h1>
    <%= title %>
  </h1>
  <p>Bienvenidos a <%= title %>
  </p>
  <br>
  <a href="/movies">Listado de películas</a>
  <a href="/movies/new">Últimos estrenos</a>
  <a href="/movies/recommended">Recomendadas</a>
  <br>
  <a href="/genres">Listado de generos</a>
</body>

</html>